let mapleader = " "

""" =====================================================|
""" ------------------------PLUGIN-----------------------|
""" =====================================================|
""" comment line with 'gc' or 'gcc' keys :)
set commentary
Plug 'machakann/vim-highlightedyank'

""" =====================================================|
""" ------------------------COMMON-----------------------|
""" =====================================================|
""" This command sets the "scroll offset" in Vim.
set so=10
""" This command enables incremental search in Vim.
set incsearch


""" =====================================================|
""" ------------------------MAPPING----------------------|
""" =====================================================|
nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
nmap <leader>p :action SelectInProjectView<CR>
nmap <leader>g :action FindInPath<CR>
nmap <leader>d :action Debug<CR>
nmap <leader>r :action RenameElement<CR>


