""" set space as leader key in vim :)
let mapleader = " "

""" =====================================================|
""" -----------------------SETTING-----------------------|
""" =====================================================|
""" allowing users to easily comment and uncomment lines of code using commands
""" like gc or gcc for commenting out selected lines or paragraphs.
set commentary

""" enables a feature that briefly highlights the text you have just yanked (copied),
""" providing a visual indication of the yanked content to help confirm the action.
set highlightedyank

""" ensures that there are always 10 lines visible above and below the cursor when scrolling.
set scrolloff=10

""" enables incremental search, allowing the cursor to move to the next match as
""" you type your search query, providing real-time feedback on search results.
set incsearch

""" enables highlighting of all matches for the last searched pattern in IdeaVim,
""" making it easier to see search results in the text.
set hlsearch

""" enables the display of absolute line numbers for each line in the editor,
""" allowing users to easily reference and navigate to specific lines in their code or text files.
set number

""" enables relative line numbering, where the current line is displayed as 0,
""" and all other lines are numbered based on their distance from the current line
set relativenumber

""" enables the display of the current Vim mode (such as normal, insert, or visual)
""" at the bottom of the editor, helping users to identify which mode they are currently in.
set showmode

""" displays partially typed commands in the status line at the bottom of the screen.
set showcmd

""" enables case-insensitive searching in IdeaVim, but if the search pattern
""" contains any uppercase letters, it switches to case-sensitive searching.
set smartcase

""" use the system clipboard for all yank (copy) and paste operations,
""" allowing you to copy text from IdeaVim directly to the system clipboard
""" and paste it into other applications.
set clipboard+=unnamed
set clipboard+=unnamedplus

""" enable a feature in IdeaVim that enhances the way lines are
""" joined together in JetBrains IDEs
set ideajoin




""" =====================================================|
""" ------------------------MAPPING----------------------|
""" =====================================================|
nmap <leader>p :action SelectInProjectView<CR>
nmap <leader>g :action FindInPath<CR>
nmap <leader>d :action Debug<CR>
nmap <leader>r :action RenameElement<CR>


""" =====================================================|
""" -----------------NORMAL MODE MAPPING-----------------|
""" =====================================================|
nnoremap m :tabnext<CR>
nnoremap M :tabp<CR>